/* здесь используйте глобальные переменные */
$font-basic: "Lato", sans-serif;
$font-title: "Oswald", sans-serif;

$color-black: #000000;
$color-light-black: #111111;
$color-white: #ffffff;
$color-grey: #444444;
$color-dark-grey: #222222;
$color-light-gray: #666666;
$color-light-grey-special: #ebebeb;
$color-super-light-grey: #e6e6e6;

$color-primary: #68b738;
$color-primary-2: #5EAA2F;
$color-secondary: #f2f2f2;

$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
