/* здесь используйте глобальные переменные */
$font-basic: "Lato", sans-serif;
$font-title: "Oswald", sans-serif;

$color-black: #000000;
$color-white: #ffffff;
$color-grey-1: #f2f2f2;
$color-grey-2: #ebebeb;
$color-grey-3: #e6e6e6;
$color-grey-4: #cdcdcd;
$color-grey-5: #666666;
$color-grey-6: #444444;
$color-grey-7: #222222;
$color-grey-8: #111111;
$color-grey-9: #d9d9d9;
$color-grey-10: #eaeaea;

$color-primary: #68b738;
$color-primary-1: #5eaa2f;

$color-error: #ff8282;

$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1300px;
