.about {
  padding: 20px;
}

.about__list {
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.about__item {
  @media (max-width: $mobile-width) {
    & + & {
      margin-top: 20px;
    }
  }

  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    width: 60px;
    height: 60px;

    background-color: $color-primary;
  }

  &::after {
    top: 12px;
    left: 16px;

    width: 30px;
    height: 32px;
  }
}

.about__item--healthy::after {
  background-image: url("../../icons/stack.svg#leaf");
}

.about__item--powder::after {
  background-image: url("../../icons/stack.svg#powder");
}

.about__item--meal::after {
  background-image: url("../../icons/stack.svg#meal");
}

.about__item--weight::after {
  background-image: url("../../icons/stack.svg#weight");
}

