.card {
  font-size: 12px;
  line-height: 16px;
}

.card__title {
  font-family: $font-title;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-dark-grey;
}

.card__title--more {
  position: relative;

  display: block;

  &::before {
    content: "";
    position: absolute;

    top: -50px;
    left: 80px;

    width: 30px;
    height: 30px;

    background-color: #d3d3d3;
    mask-image: url("../../icons/stack.svg#plus");
  }
}
