.card-extra {
  padding: 13px 0 18px;

  line-height: 14px;

  @media (min-width: $tablet-width) {
    padding: 28px 38px 23px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 26px 16px;
  }

  @media (min-width: $desktop-width) {
    align-items: baseline;
    grid-template-columns: 1fr 80px 1fr 80px 1fr;
    column-gap: 0;
    padding: 15px 0 18px;
  }
}

.card-extra__title {
  margin: 0;
  margin-bottom: 11px;

  font-family: $font-title;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-grey-7;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    font-size: 20px;
    line-height: 20px;
  }
}

.card-extra__overview {
  margin-top: 0;
  margin-bottom: 11px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;

  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    grid-template-columns: 1fr 82px;
    align-items: end;

    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 5;
  }
}

.card-extra__description {
  margin: 0;

  &:last-child {
    text-align: right;
  }

  @media (min-width: $tablet-width) {
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    padding-right: 12px;

    text-align: left;

    &:last-child {
      text-align: left;
    }
  }
}

.card-extra__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 5 / 6;
  }
}
