.card-extra {
  line-height: 14px;
}

.card-extra__title {
  font-family: $font-title;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-grey-7;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.card-extra__overview {
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}
