.card-extra {
  line-height: 14px;
}

.card-extra__title {
  font-family: $font-title;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-dark-grey;
}
