.catalog-sections__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.catalog-sections__item {
  padding: 20px;

  background-color: $color-secondary;

  & + & {
    margin-top: 20px;

    @media (min-width: $tablet-width) {
      margin-top: 30px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 0;
    }
  }
}

.catalog-sections__title {
  position: relative;

  font-family: $font-title;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: $color-black;

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    left: 0;
    top: 0;

    width: 50px;
    height: 50px;

    background-color: $color-primary;
    border-radius: 50%;
  }

  &::after {
    background-size: contain;
  }
}

.catalog-sections__title--slim {
  &::after {
    top: -3px;
    left: 6px;

    width: 36px;
    height: 50px;

    background-image: url("../../icons/stack.svg#cat-slim");
  }
}

.catalog-sections__title--pro {
  &::after {
    top: 12px;
    left: -8px;

    width: 67px;
    height: 28px;

    background-image: url("../../icons/stack.svg#cat-pro");
  }
}

.catalog-sections__link {
  position: relative;

  font-family: $font-title;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-black;

  &::after {
    content: "";
    position: absolute;

    width: 32px;
    height: 10px;

    mask-image: url("../../icons/stack.svg#arrow");
    background-color: $color-black;
    mask-repeat: no-repeat;
    mask-position: 100% 50%;
  }
}
