.contacts__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contacts {
  background-color: $color-secondary;
}

.contacts__title {
  font-family: $font-title;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-light-black;
}

.contacts__address {
  font-style: normal;
  line-height: 20px;
}

.contacts--index {
  background-color: $color-white;
}
