.field__input {
  font-family: $font-title;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-grey;

  &::placeholder {
    color: $color-grey;
  }

  &[type="email"] {
    background-image: url("../../icons/stack.svg#email");
    background-position: 50px center;
  }

  &[type="tel"] {
    background-image: url("../../icons/stack.svg#phone");
    background-position: 50px center;
  }
}
