.promo-gift {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $color-white;
  background-color: $color-primary;
  background-image: url("../../images/background/catalog-promo-bg-small@1x.jpg");
}

.promo-gift__text {
  background-image: url("../../icons/stack.svg#gift");
  background-position: center 100px;
  background-repeat: no-repeat;
}
