.show-more {
  padding: 78px 0 25px;

  text-align: center;

  background-repeat: no-repeat;
  background-image: url("../../icons/stack.svg#plus");
  background-position: 50% 23px;
  background-size: 30px 30px;

  @media (min-width: $tablet-width) {
    padding: 161px 38px 38px;
    display: flex;
    flex-direction: column;

    background-position: 50% 50px;
    background-image: url("../../icons/stack.svg#plus");
    background-size: 60px 60px;
    border: 2px solid $color-grey-1;
  }

  @media (min-width: $desktop-width) {
    padding-top: 158px;
    padding-bottom: 43px;
  }
}

.show-more__title {
  margin: 0;
  margin-bottom: 9px;

  font-family: $font-basic;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-grey-8;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
    padding: 50px 20px 40px;

    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 10px;
  }
}

.show-more__text {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }
}
