.socials {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  list-style: none;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.socials__item {
  margin: 0 12px;
  display: flex;
  align-items: center;
}

.socials__link {
  display: block;
  width: 28px;
  height: 22px;

  background-color: $color-grey-5;
  mask-repeat: no-repeat;
  mask-position: 50% 50%;
}

.socials__link--vk {
  mask-image: url("../../icons/stack.svg#vk");
  background-color: $color-grey-5;

  &:hover {
    background-color: $color-primary;
  }

  &:focus {
    background-color: $color-primary;
    opacity: 0.3;
  }
}

.socials__link--youtube {
  mask-image: url("../../icons/stack.svg#youtube");
  background-color: $color-grey-5;

  &:hover {
    background-color: $color-primary;
  }

  &:focus {
    background-color: $color-primary;
    opacity: 0.3;
  }
}

.socials__link--tg {
  mask-image: url("../../icons/stack.svg#tg");
  background-color: $color-grey-5;

  &:hover {
    background-color: $color-primary;
  }

  &:focus {
    background-color: $color-primary;
    opacity: 0.3;
  }
}
